<!DOCTYPE html>
<html>
  <head>
    <title>Nameofapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>

    <!--navbar starts here-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <nav class="container-fluid">
        <nav class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <nav class="site-name navbar-brand">
            <%= link_to "Asian Eyewear", root_path %>
          </nav> <!-- end Asian Eyewear -->
        </nav> <!-- end navbar-header -->
        <nav class="nav navbar-nav">
          <!-- Search Field -->
          <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
            <%= form.label :q, 'Search for:' %>
            <%= form.text_field :q, id: 'q', value: params[:q] %>
            <%= form.submit 'Search' %>
          <% end %> <!-- end Search Field -->
        </nav>
        <nav class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Products", products_path %></li>
            <li><%= link_to "About", simple_pages_about_path %></li>
            <li><%= link_to "Contact", simple_pages_contact_path %></li>
          </ul>
          <ul class="nav pull-right">
            <li>
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path) %>
            <% end %>
            </li>
          </ul>
        </nav> <!-- end navbar-collapse -->
      </nav> <!-- end nav container-fluid -->
    </nav> <!-- end navbar -->

    <br>

    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>
    
    <% if alert %>
      <p id="alert" class="alert alert-info"><%= alert %></p>
    <% end %>

    <%= yield %>

    <footer class="site-footer">
      <h4>&copy; 2018 Asian Eyewear</h4>
    </footer>

  </body>
</html>
